{{ define "main" }}
  <section class="post-section" aria-labelledby="post-title">
    <article class="blog-post-content">
      <header class="post-header">
        <h1 id="post-title">{{ .Title }}</h1>
        {{ partial "post-meta.html" . }}
      </header>
      {{ .Content }}
      {{- if .Params.external_url }}
        {{- $externalLabel := "Read more on Medium" }}
        {{- with .Params.external_label }}
          {{- $externalLabel = . }}
        {{- end }}
        <a href="{{ .Params.external_url }}">{{ $externalLabel }}</a>
      {{- end }}
    </article>
  </section>
{{ end }}
