{{ define "main" }}
  <section class="portfolio-hero" aria-labelledby="post-title">
    <h2 id="post-title">{{ .Title }}</h2>
  </section>

  <section class="portfolio-section post-section">
    <article class="blog-post-content">
      {{ partial "post-meta.html" . }}
      {{- with .Description }}
        <p>{{ . }}</p>
      {{- end }}
      {{ .Content }}
      {{- with .Params.external_url }}
        <a href="{{ . }}">Read on Medium</a>
      {{- end }}
    </article>
  </section>
{{ end }}
